a {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium','Arial Narrow',Arial,sans-serif;
    display: flex;
    align-items: center;    
    justify-content: center;  
    margin: 10px;
    background-color: rgba(8,7,6,0.2);
    color: black;
    text-decoration: none;
    padding: 10px 20px;       
    border-radius: 8px;       
}

a:hover{ animation-duration: 2s;
    color: rgba(115, 131, 145, 0.527);
    background-color: rgba(240, 248, 255, 0.411);
}
a:active{ 

    background-color: rgb(101, 132, 133);
    animation-duration: 5s;
}
a::before{ content: "▶";

}
a::after{
    content: "◀";

    }

.closet{  display: flex;  
   
    padding: 10px;
    color: rgb(0, 37, 70);
    text-align: center;
    justify-content: center;
    background-color: gray;
    border-radius: 10px;

}
   

.closet__zapatos { display: flex;
    flex-direction: column;
      word-spacing: 40px;
    color: aliceblue; 
}

.closet__zapatos-item{ 
    margin-left: 80px;
    color: black;
    margin-right: 50px;
    background-color: rgb(255, 255, 255);
    

}